extends layout 

block layout-content 
    h1 About Us
    p  Hi! Thanks for visiting Secondhand Records. I'm Cary, and I started this site back in 2015. Have a seat, chill out and let me tell you about this crazy journey that I'm on.