extends layout 

block layout-content 
    h1 FEATURED USED RECORDS
    .block-featured-records
      div.record
       // https://m.media-amazon.com/images/I/71Td5HR1BvL.jpg
       a(href="/")
        img(src="/img/emancipationofmimi.jpg" alt="The Emancipation of Mimi")
        p.title The Emancipation of Mimi - Mariah Carey
       p.price $8.50
      div.record
       // https://m.media-amazon.com/images/I/51nsoO0wZgL.jpg
       a(href="/")
        img(src="/img/808.jpg" alt="808s and Heartbreak")
        p.title 808s and Heartbreak - Kanye West
       p.price $6.00
      div.record
       // https://m.media-amazon.com/images/I/91fghjcClIL.jpg
       a(href="/")
        img(src="/img/vampireweekend.jpg" alt="Modern Vampires of the City")
        p.title Modern Vampires of the City - Vampire Weekend
       p.price $12.00
      div.record
       // https://m.media-amazon.com/images/I/51TH1unr6lL.jpg
       a(href="/")
        img(src="/img/blue.jpg" alt="Hit Me Hard and Soft")
        p.title Hit Me Hard and Soft - Billie Eilish
       p.price $6.00

